*.class
build-local.properties

*.project
*.settings

# Package Files #
#*.jar#
*.war
*.ear

# Package Folders #
build/
dist/
properties/


# Log Files #
testFile.log


#ExtJS Package Builds#
web/static/extjs/resources/ext-theme-access
web/static/extjs/resources/ext-theme-classic
web/static/extjs/resources/ext-theme-classic-sandbox
web/static/extjs/resources/ext-theme-gray
web/static/extjs/resources/ext-theme-neptune
resources/repo