<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>WebServlet</servlet-name>
	  <servlet-class>com.modnaut.common.servlet.WebServlet</servlet-class>
	</servlet>
	
 	<servlet-mapping>
 		<servlet-name>WebServlet</servlet-name>
 		<url-pattern>/</url-pattern>
 	</servlet-mapping>


	<resource-ref>
   		<description>Modnaut Datasource</description>
    	<res-ref-name>jdbc/modnaut</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
  	</resource-ref>

</web-app>