@CHARSET "ISO-8859-1";

.notificationBar {
    margin: 3px !important;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.notificationBar-error, .x-nlg .notificationBar-error {
    border:  1px solid #F79897 !important;
    background-color: #FDDFDE !important;
    background-image: none !important;
}
.notificationBar-success, .x-nlg .notificationBar-success {
    border: 1px solid #AEE0AE !important;
    background-color: #D1EED1 !important;
    background-image: none !important;
}
.notificationBar-warning, .x-nlg .notificationBar-warning {
    border:  1px solid #FFF000 !important;
    background-color: #FFFCC7 !important;
    background-image: none !important;
}
.x-toolbar .notificationBar-message {
    white-space: normal !important;
}